{
  "ignore": ["**/*.spec.js"],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "@storage-api": "./src"
        }
      }
    ],
    "@babel/plugin-transform-runtime",
    "inline-json-import"
  ]
}