NODE_ENV=dev
PORT=3001
HOST=localhost
DB_URI="mongodb://localhost:27017,localhost:27018,localhost:27019/storage?replicaSet=rs-storage&w=majority"
MONGO_REPLICA_SET_NAME=rs-storage
MONGO_INITDB_DATABASE=storage